body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    min-width: 1400px;
 }

h2 {
    color: #0C0C0C;
    font-size: 36px;
    font-family: "Open Sans";
    margin: 0px;
}

h3 {
    color: #0C0C0C;
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 0px;
}

h4 {
    color: #0C0C0C;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 0px;
}

p {
    color: #0C0C0C;
    font-size: 16px;
    font-family: "Open Sans";
    margin: 0px;
}

a {
    color: #0C0C0C;
    font-size: 12px;
    font-family: "Open Sans";
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 16px;
    border-bottom: 1px solid #C7C7C7;
    background-color: #F8F8F8;
    position: sticky;
    top:0;
    left:0;
    overflow: hidden;
}

.menu-options {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
}

.menu-option {
    text-align: center;
}

.menu-option > a {
    text-decoration: none;
}

#search {    
    background-image: url("../media/icons/search.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24px;
    padding: 12px 24px 12px 8px;
    border: 1px solid #A6A6A6;
    border-radius: 8px;
    width: 512px;
}

::placeholder {
    color: #424242;
    height: 12px;
    font-family: "Open Sans";
    font-weight: normal;
    overflow: visible;
}

#hero-banner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    padding: 64px 0px 64px 0px;
    border-bottom: 1px solid #C7C7C7;
  }


#hero-text {
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hero-image {
    grid-column-start: 6;
    grid-column-end: 12;
}

#hero-image > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

#hero-title {
    margin-bottom: 16px;
}

.topic-tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px
}

.justify-center {
    justify-content: center;
}

.topic-tag {
    background-color: #A7A6E5;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    font-size: 12px;
    color: #0C0C0C;
    font-size: 12px;
    font-family: "Open Sans";
    width: auto;
    white-space: nowrap;
}

.topic-tags > a {
    text-decoration: none;
}

#about-section {
    padding: 96px 0px 96px 0px;
    border-bottom: 1px solid #C7C7C7;
    display: grid;
    grid-gap: 128px;

}

.about-item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
}

.about-item > * > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.about-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-section-text {
    padding: 0px 135px 0px 135px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
}

.about-left {
    grid-column-start: 2;
    grid-column-end: 7;
}

.about-right {
    grid-column-start: 7;
    grid-column-end: 12;
}

.right-aligned {
    text-align: right;
}

.number_and_info > .number {
    color: #0C0C0C;
    font-size: 128px;
    font-family: "Open Sans";
    font-weight: 500;
    margin: 0px;
}

.number_and_info > .info {
    text-align: center;
}

.twelve-columns-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
}

#about-numbers {
    grid-column-start: 3;
    grid-column-end: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_title > h2 {
    text-align: center;
    margin-bottom: 64px;
}

#about-numbers-section {
    padding: 64px 0px 64px 0px;
    border-bottom: 1px solid #C7C7C7;
}

.courses-row {
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 128px;
}


.image-with-description > * > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.title_and_paragraph_and_tags{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title_and_paragraph_and_tags > a {
    text-decoration: none;
}

.image-with-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.courses-list {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

#popular-courses-section {
    padding: 128px 0px 128px 0px;
    border-bottom: 1px solid #C7C7C7;
}

#testimony-tile-1{
    grid-column-start: 3;
    grid-column-end: 5;
}

#testimony-tile-2{
    grid-column-start: 6;
    grid-column-end: 8;
}

#testimony-tile-3{
    grid-column-start: 9;
    grid-column-end: 11;
}

.testimony-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.testimony-image-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testimony-image-text > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

#testimonies-section{
    padding: 96px 0px 96px 0px;
    border-bottom: 1px solid #C7C7C7;  
}

.faq-grid-container {
    grid-column-start: 3;
    grid-column-end: 11;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.faq-answer {
    padding-top: 16px;
}

.faq-tile {
    padding-bottom: 16px;
    border-bottom: 1px solid #A6A6A6; 
}

#faq-section {
    padding: 96px 0px 96px 0px; 
}

#footer {
    background-color: #3432AC;
    padding: 64px;
}

#footer > * > p { color: #F8F8F8 }
#footer > * > * > * > * > h4 { color: #F8F8F8 }
#footer > * > * > * > * > * > p { color: #F8F8F8 }
#footer > * > * > * > * > * > p { font-size: 12px; }
#footer > * > * > * > * > a { text-decoration-color: #F8F8F8 }

#logotype_footer_menu {
    display: flex;
    gap: 128px;
    align-items: start;
}

#footer-menu {
    display: flex;
    gap: 96px;
}

#footer_content {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.footer-menu-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}